<form>
  <div class="file-field input-field col s12">
    <div class="btn">
      <span>Picture</span>
      <input type="file">
    </div>
    <div class="file-path-wrapper">
      <input class="file-path validate" placeholder="Upload a profile picture" type="text">
    </div>
  </div>
  <div>
    <div class="input-field col s12">
      <label for="name">Name</label>
      <input id="name" type="text" class="validate">
    </div>
    <div class="input-field col s12">
      <label for="displayName">Display Name</label>
      <input id="displayName" type="text" class="validate">
    </div>
    <div class="input-field col s12">
      <label for="twitter">Twitter</label>
      <input id="twitter" type="text" class="validate">
    </div>
    <div class="input-field col s12">
      <label for="instagram">Instagram</label>
      <input id="instagram" type="text" class="validate">
    </div>

    <label class="input-field col s6" for="privateList">
      <input id="privateList" type="checkbox" />
      <span>Make Wish List Private</span>
    </label>
    <label class="input-field col s6" for="displayNameOption">
      <input type="checkbox" id="displayNameOption" />
      <span>Hide Name</span>
    </label>
  </div>
</form>
<button class="btn waves-effect waves-light right" (click)="check()" type="button">Submit
  <i class="material-icons right">check</i>
</button>
