<div class="row">
  <div class="col s3">
    <app-profile-card></app-profile-card>
  </div>
  <div class="col s3">
      <app-profile-card></app-profile-card>
  </div>
  <div class="col s3">
      <app-profile-card></app-profile-card>
  </div>
  <div class="col s3">
      <app-profile-card></app-profile-card>
  </div>
  <div class="col s3">
      <app-profile-card></app-profile-card>
    </div>
    <div class="col s3">
        <app-profile-card></app-profile-card>
    </div>
    <div class="col s3">
        <app-profile-card></app-profile-card>
    </div>
    <div class="col s3">
        <app-profile-card></app-profile-card>
    </div>

    <div class="col s3">
        <app-profile-card></app-profile-card>
      </div>
      <div class="col s3">
          <app-profile-card></app-profile-card>
      </div>
      <div class="col s3">
          <app-profile-card></app-profile-card>
      </div>
      <div class="col s3">
          <app-profile-card></app-profile-card>
      </div>
      <div class="col s3">
          <app-profile-card></app-profile-card>
        </div>
        <div class="col s3">
            <app-profile-card></app-profile-card>
        </div>
        <div class="col s3">
            <app-profile-card></app-profile-card>
        </div>
        <div class="col s3">
            <app-profile-card></app-profile-card>
        </div>
</div>